<!DOCTYPE html>
<html lang="hu">
<head>
    <title>Webshop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="app">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active" v-on:click="state='allbook'"><a href="#">Összes termék</a></li>
                    <li><a href="#" v-on:click="state='search'">Keresés</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" style="color:gold;">{{user.money}} HUF</a></li>
                    <li><a href="#" v-on:click="state='settings'"><span class="glyphicon glyphicon-user"></span> {{user.name}}</a></li>
                    <li><a href="#" v-on:click="state='cart'"><span class="glyphicon glyphicon-shopping-cart"></span> Kosár ({{user.cart.length || 0}})</a></li>
                    <li><a href="/"><span class="fa fa-sign-out"></span> Kilépés</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container text-center">
        <h1>Magyar Fight Shop</h1>
        <p>Amelyik termék megtetszik, tegye bele a kosárba!</p>
    </div>

    <hr>

    <div class="container">
        <template v-if="loading">
            <div class="spinner"></div>
        </template>
        <template v-else>
            <template v-if="state === 'allbook'">
                <div class="row">
                    <div class="col-sm-4" v-for="item in items" :key="item._id">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-uppercase">{{ item.termek_nev }}: {{ item.gyarto }}</div>
                            <div class="panel-body">
                                <img :src="item.img" class="img-responsive" alt="Image" />
                                <p>{{ item.leiras }}</p>
                                <p>Ár: {{ item.ar }} HUF</p>
                                <p>Raktáron: {{ item.raktarkeszlet }} db</p>
                                <button type="button" class="btn btn-success" @click="addCart(item)">Kosárba</button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>

            <template v-if="state === 'search'">
                <div class="form-group">
                    <label for="usr">Keresés:</label>
                    <input type="text" class="form-control" v-model="searchQuery" placeholder="Termék neve, gyártó stb.">
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-info" v-for="item in filteredItems" @click="() => { selectedItem = item; state = 'details'; }">
                        <span class="badge">{{ item.ar }} HUF</span>
                        <h4 class="list-group-item-heading">{{ item.termek_nev }}</h4>
                        <p class="list-group-item-text">{{ item.gyarto }}</p>
                    </a>
                </div>
            </template>

            <template v-if="state === 'details' && Object.keys(selectedItem).length > 0">
                <div class="row">
                    <div class="col-sm-6">
                        <img :src="selectedItem.img" class="img-responsive" alt="Image" />
                    </div>
                    <div class="col-sm-6">
                        <h3>{{ selectedItem.termek_nev }}</h3>
                        <p>Gyártó: {{ selectedItem.gyarto }}</p>
                        <p>Kategória: {{ selectedItem.kategoria }}</p>
                        <p>Ár: {{ selectedItem.ar }} HUF</p>
                        <p>Raktáron: {{ selectedItem.raktarkeszlet }} db</p>
                        <p>{{ selectedItem.leiras }}</p>
                        <button type="button" class="btn btn-success" @click="addCart(selectedItem)">Kosárba</button>
                    </div>
                </div>
            </template>

            <template v-if="state === 'settings'">
                <h2>Felhasználói adatok</h2>
                <div class="form-group">
                    <label>Név:</label>
                    <input type="text" class="form-control" v-model="user.name">
                    <label>Jelszó:</label>
                    <input type="password" class="form-control" v-model="user.pswd">
                    <label>Email:</label>
                    <input type="email" class="form-control" v-model="user.email">
                    <label>Szül. dátum:</label>
                    <input type="date" class="form-control" v-model="user.birth">
                    <label>Lakcím:</label>
                    <input type="text" class="form-control" v-model="user.address">
                    <br>
                    <button class="btn btn-success" @click="saveUser">Mentés</button>
                </div>
            </template>

            <template v-if="state === 'cart'">
                <h2>A kosár tartalma</h2>
                <div class="row">
                    <div class="col-sm-12" v-for="item in user.cart" :key="item._id">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-uppercase">{{ item.termek_nev }}: {{ item.gyarto }}</div>
                            <div class="panel-body">
                                <img :src="item.img" class="img-responsive" alt="Image" />
                                <p>{{ item.leiras }}</p>
                                <p>Ár: {{ item.ar }} HUF</p>
                                <button type="button" class="btn btn-danger" @click="removeCart(item)">Törlés</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" @click="checkout">Fizetés</button>
            </template>

        </template>

    </div>

    <br>

    <footer>
        <p>&copy; Magyar Fight Shop</p>
    </footer>

</div>

</body>
</html>
